d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select es
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string 42.fr

# Mirror settings (Essential to avoid getting stuck)
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Madrid
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# User and Root configuration
d-i passwd/root-login boolean true
d-i passwd/root-password password inception
d-i passwd/root-password-again password inception

# User conf without privileges
d-i passwd/user-fullname string vjan-nie
d-i passwd/username string vjan-nie
d-i passwd/user-password password inception
d-i passwd/user-password-again password inception
d-i user-setup/allow-password-weak boolean true

# User into sudo group
d-i passwd/user-default-groups string sudo

# Partition (20GB simple)
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-auto/disk string /dev/sda

# Basic packages + SSH
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo ufw apparmor curl
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda
d-i finish-install/reboot_in_progress note